# MINISHELL GITIGNORE #

# Compiled source #
minishell
*.out

# Object files #
*.o

# Libraries #
*.a

# Test files #
test
*.test
test*

# Subjet files #
*.pdf

# Weird stuff #
.DS_Store
Thumbs.db
.vscode
.*.swp